{
  "importOrderSeparation": true, 
  "importOrderSortSpecifiers": true,
  "importOrder": ["^components/(.*)$", "^[./]" ],
  "printWidth": 80,
  "semi": false,
  "singleQuote": false,
  "trailingComma": "es5"
}
